.side-navbar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    width: 200px;
    text-align: left;
    background: #393836;
    color: #fff;
    z-index: 999;
    overflow-y: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.page
{
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: width 0.3s linear;
    transition: width 0.3s linear;
    width: calc(100% - 200px);
    background-color: #F4F7FA;
    min-height: 100vh;
    padding-bottom: 50px;
}