@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variables";

.to_account
{
    @include margin(inherit,inherit ,30px ,inherit );
    @include heightwidth(250px,inherit);
    @include font-weight(500);
    &.pass_con
    {
        @include heightwidth(351px,inherit);
        @include margin(inherit,inherit ,20px ,inherit );
    }
}
.lost_pass
{
    cursor: pointer;
    color: $thm-tex-col-dar;
    @include margin(20px,auto ,auto ,auto );
    @include font-weight(500);
    &.re_login
    {
        @include margin(auto,auto ,auto ,inherit );
    }
}
.copy_rgh
{
    font-style: italic;
    cursor: pointer;
    line-height: initial;
    color: $thm-tex-col-dar;
    @include margin(50px,inherit ,inherit ,inherit );
    @include font-weight(500);
    @include heightwidth(300px,inherit);
    @include font-size(0.77);
}




