<div *ngIf="log_in" class="log_in">
    <p class="to_account">Sign in to your dealHUB account with 
        the provided credential </p>
    <form [formGroup]="loginvalid"  onsubmit="onSubmit()">
        <div>
            <div class="mt-cust-fd"  >
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Login ID</mat-label>
                    <input matInput  formControlName="userID" >
                    <mat-error *ngIf="checkError('userID', 'required')">Login ID is required</mat-error>
                  </mat-form-field>
              </div>
        </div>
        <div>
            <div class="mt-cust-fd"  >
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="Password">
                        <mat-error *ngIf="checkError('Password', 'required')">Password is required</mat-error>
                  </mat-form-field>
              </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" >
            <div class="cus_check"><mat-checkbox class="example-margin">Remember me</mat-checkbox></div>
            <div><button mat-flat-button class="cus_bt" color="primary">Login</button></div>
        </div>
        

        
        <div>
           
        </div>
    </form>
    <div class="lost_pass" (click)="lostPass()">
        Lost your password ??
    </div>
</div>
<div *ngIf="lost_pass" class="lost_pass_con">
    <p class="to_account pass_con">It seems you lost you password, don’t worry it will hardly 
        take 1 min to re-set it, </p>
    <form [formGroup]="loginvalid"  onsubmit="onSubmit()">
            <div>
                <div class="mt-cust-fd"  >
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Login ID</mat-label>
                        <input matInput  formControlName="userID" >
                        <mat-error *ngIf="checkError('userID', 'required')">Login ID is required</mat-error>
                      </mat-form-field>
                  </div>
            </div>
            
            <div fxLayout="row" fxLayoutAlign="space-between center" >
                <div class="lost_pass re_login" (click)="relogin()">Login</div>
                <div><button mat-flat-button class="cus_bt" color="primary">Reset Password</button></div>
            </div>
            
    
            
            <div>
               
            </div>
        </form>
    </div>


<div class="copy_rgh">
    Copyright © 2020. <br>
All rights reserved Mahindra Logistics Ltd.
</div>




