<div>
    <p class="to_account">Sign in to your account</p>
    <form>
        <div>
            <div class="contactForm_pdca ">
                <div class="incont">
                    <input type="input" id="login" value="" name="login" placeholder=" ">
                    <label for="contactName">Login</label>
                </div>
             </div>
        </div>
        <div>
            <div class="contactForm_pdca ">
                <div class="incont">
                    <input type="password" id="login" value="" name="Password" placeholder=" ">
                    <label for="contactName">Password</label>
                </div>
             </div>
        </div>
        <div  style="display: flex;flex-direction: row;flex-wrap: wrap;">
        <div  style="
            display: inline-block;
            width: 50%;
        ">
    <input type="checkbox" id="Remember" name="Remember" value="Remember">
    <label for="Remember"> Remember me</label>    
    </div>
        <div  class="sb_buttion"><button >Sign in</button></div></div>

        <div class="lost_pass">
           <div> <a href="#">Lost your password?</a></div>
            <div>
                <a href="#">Not a member yet? Signup now.</a>
            </div>
        </div>
        <div>
           
        </div>
    </form>
</div>

