
$main_bg_color: linear-gradient(to right, #eb3349, #f45c43);
$montserrat: "Montserrat";
$montserrat_bold:'Montserrat-Bold';
$light_white: "#ffffff";
$gray: '#787e8c';
$dark_color: '#444444';
$dashboard_bg:linear-gradient(to bottom, #fdfdfd, #f9f9f9);
$sidebar_bg:linear-gradient(169deg, #eb3349, #f45c43);

/*var s*/
/*color start*/
$color-icon:#606060;
$color-white:#fff;
$master-title-coor: #2c2c2c;
$text-color-n:#212428;
$bg-color-thm: rgba(255, 255, 255, 0.5);
$bt-bg: linear-gradient(101deg, #fc6e51, #db391f) ;
$new-bt-bg:#273c75;
$titl-text-splash:#f25644;
$new_bg_back:linear-gradient(to bottom, #0c0b1a, #2a1d40 51%, #201640);
$selct-bg:rgba(0, 0, 0, 0.16);
$bg-select: rgba(255, 255, 255, 0.1);
/*color end*/

/*font-size*/
 //$primary_font_family: 'Montserrat', sans-serif !important;
$primary_font_family:  Roboto, sans-serif !important;
/*font-size end*/

$d-none:none;
$d-block:block;
$d-flex:flex;
$d-inlineblock:inline-block;
$width-full:100%;
$aling-itme:center;
$cursor-point: pointer;
$text-transform:uppercase;
/*var e*/