<div  class="log_wrp"  fxLayout="row" fxLayoutAlign="space-between">
    <div class="log_incont">
        <div  style="
    position: absolute;
    /* z-index: 00; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 9;
"><img  src="../../../assets/images/login_img_rt.png" style="
    width: 420px;
    position: absolute;
    right: 0;
"></div>

        <!-- <img src="../../../assets/loginscreen.jpg"> -->
        <div id="overlay">
            <img src="assets/loginscreen.jpg">
        </div>
        <div style="position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        z-index: 9;">
            <img src="../../../assets/images/login_img_bl.png" style="    width: 320px;
            position: absolute;
            bottom: 0;">
        </div>
    </div>
    <div class="log_infor_cont" fxLayout="column" fxLayoutAlign="end stretch">
        <app-header class="hed_con"></app-header>
    
        <router-outlet></router-outlet>
    </div>
</div>



<!-- <app-footer></app-footer> -->