/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import url(https://use.fontawesome.com/releases/v5.3.1/css/all.css);
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    margin: 0;
     font-family: "Roboto", sans-serif !important;
    letter-spacing: 0.02rem;
    // -webkit-font-smoothing: antialiased !important;
    // font-family: "Montserrat", sans-serif !important;
  }

.log_incont
{
    display: inline-block;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100% - 480px);
    position: relative;
   overflow: hidden;
}